nav.navbar.navbar-default.navbar-flat-white(role='navigation')
  div.container
    div.navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#main-nav')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Open Market
    div.collapse.navbar-collapse#main-nav
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/top/users') Top users
        li
          a(href='/top/apps') Top apps
        li
          a(href='/top/items') Top items
        li
          a(href='/top/currencies') Top currencies
        li
          a(href='/stats') Stats