extends layout

block content
  div.header-board
    div.container
      h1.board-title Recent market transactions
  div.container(ng-controller='IndexCtrl')
    include includes/error-message
    hr
    include includes/transactions