extends layout

block content
  div.header-board
    div.container
      h1.board-title Recently recorded items
  div.container(ng-controller='RecentItemsCtrl')
    include includes/error-message
    hr
    table.table.table-white.table-striped.table-bordered
      thead
        th.col-sm-4(ng-click='orderProp="-_id"; reverse=!reverse') Item name
        th.col-sm-3(ng-click='orderProp="-firstSeen"; reverse=!reverse') First seen
        th(ng-click='orderProp="sold"; reverse=!reverse') Sold
        th(ng-click='orderProp="profit"; reverse=!reverse') Total profit
        th(ng-click='orderProp="total"; reverse=!reverse') Total sold
      tbody
        tr(ng-repeat='user in items | orderBy:orderProp:reverse', ng-cloak)
          td
            a(href='/item/{{ user._id | encodeURI }}') {{ user._id }}
          td {{ user.firstSeen | date:'medium' }}
          td {{ user.sold }}
          td {{ user.profit | currency }}
          td {{ user.total | currency }}
