extends layout

block content
  div.container(ng-controller='StatsCtrl')
    h1.lead.text-center.stats-title Open market stats
    hr
    div.row.stats-container
      div.col-md-2.col-md-offset-3.text-center
        h2(ng-cloak) {{ stats.users | commaSeperate }}
        p Users recorded
      div.col-md-2.text-center
        h2(ng-cloak) {{ stats.transactions | commaSeperate }}
        p Transactions recorded
      div.col-md-2.text-center
        h2(ng-cloak) {{ stats.items | commaSeperate }}
        p Unique items recorded
    div.row.stats-container
      div.col-md-2.text-center.col-md-offset-4
        h2(ng-cloak) {{ stats.apps | commaSeperate }}
        p Games recorded
      div.col-md-2.text-center
        h2(ng-cloak) {{ stats.currencies | commaSeperate }}
        p Currencies recorded
