extends layout

block content
  div.container(ng-controller='StatsCtrl')
    h1.lead Stats
    hr
    div.row
      div.col-md-2
        h3 Tracked users
        p(ng-cloak) {{ stats.users | toLocalString }}
      div.col-md-3
        h3 Transactions recorded
        p(ng-cloak) {{ stats.transactions | toLocalString }}
      div.col-md-3
        h3 Tracked items (unique)
        p(ng-cloak) {{ stats.items | toLocalString }}