extends layout

block content
  div.header-board
    div.container
      h1.board-title Most profited games
  div.container(ng-controller='TopAppsCtrl')
    hr
    table.table.table-white.table-striped.table-bordered
      thead
        th.col-sm-6(ng-click='orderProp="-gameName"; reverse=!reverse') Game
        th(ng-click='orderProp="-profit"; reverse=!reverse') Accumulated Profit
        th(ng-click='orderProp="sells"; reverse=!reverse') Total sold
      tbody
        tr(ng-repeat='app in apps | orderBy:orderProp:reverse')
          td 
            a(href='/app/{{ app._id }}') {{ app.name }}
          td {{ app.profit | currency }}
          td {{ app.sold }}