extends layout

block content
  div.container(ng-controller='TopUsersCtrl')
    h1.lead Top 50 users
    hr
    table.table.table-white.table-striped.table-bordered
      thead
        th.col-md-3 User
        th(ng-click='orderProp="-profit"; reverse=!reverse') Accumulated Profit
        th Open Market Profile
        th Steam Profile
      tbody
        tr(ng-repeat='user in users | orderBy:orderProp:reverse')
          td {{ user._id }}
          td {{ user.profit | currency }}
          td
            a(href='/u/{{ user._id }}') Open Market Profile
          td
            a(href='http://steamcommunity.com/profiles/{{ user._id }}') Steam Profile