extends layout

block content
  div.header-board
    div.container
      h1.board-title Most profited games
  div.container(ng-controller='TopCurrenciesCtrl')
    hr
    table.table.table-white.table-striped.table-bordered
      thead
        th.col-sm-6(ng-click='orderProp="-name"; reverse=!reverse') Currency
        th Currency Code
        th(ng-click='orderProp="-profit"; reverse=!reverse') Accumulated Profit
        th(ng-click='orderProp="sold"; reverse=!reverse') Total sold
      tbody
        tr(ng-repeat='currency in currencies | orderBy:orderProp:reverse')
          td {{ currency.name }}
          td {{ currency._id }}
          td {{ currency.profit | currency }}
          td {{ currency.sold }}