extends layout

block content
  div(ng-controller='UserCtrl')
    div.header-board
      div.container
        img.img-circle.user-profile-image(ng-src='{{ userProfile.avatar }}')
        h1.board-title(ng-cloak) {{ userProfile.username }}
        div.header-buttons
          div.btn-toolbar
            a.btn.btn-dark(href='https://steamcommunity.com/profiles/{{ steamID }}') Steam Profile
            a.btn.btn-dark(href='https://steamrep.com/search?q={{ steamID }}') SteamRep Profile
        hr
        div.col-sm-2.col-sm-offset-3.item-stat-container
          p.item-stat(ng-cloak) {{ userProfile.profit | currency }}
          p.lead.item-stat-title Total profit
        div.col-sm-2.item-stat-container
          p.item-stat(ng-cloak) {{userProfile.total | currency}}
          p.lead.item-stat-title Total sold
        div.col-sm-2.item-stat-container
          p.item-stat(ng-cloak) {{ userProfile.sold | toLocalString }}
          p.lead.item-stat-title Total items sold
    div.container
      hr
      include includes/transactions