extends layout

block content
  div.container(ng-controller='UserCtrl')
    div.user-profile-container
      img.img-circle.user-profile-image(ng-src='{{ userProfile.avatar }}')
      div.user-profile-center-text
        h2(ng-cloak) {{ userProfile.username }}
        h3.user-profile-steam
          a(href='https://steamcommunity.com/profiles/{{ steamID }}') Steam 
          | - 
          a(href='https://steamrep.com/search?q={{ steamID }}') SteamRep
      div.row.user-profile-center-text.user-profile-stats
        div.col-md-2.col-md-offset-3
          p.user-profile-stats-stat(ng-cloak) {{ userProfile.profit | currency }}
          h1.user-profile-stats-title Profit
        div.col-md-2
          p.user-profile-stats-stat(ng-cloak) {{ userProfile.total | currency }}
          h1.user-profile-stats-title Total
        div.col-md-2
          p.user-profile-stats-stat(ng-cloak) {{ userProfile.sold }}
          h1.user-profile-stats-title Items sold
    hr
    include includes/transactions