extends ../layout

block content
  div.header-board
    div.container
      h1.board-title Most profited items
  div.container(ng-controller='TopItemsCtrl')
    include ../includes/error-message
    hr
    div.table-responsive
      table.table.table-white.table-striped.table-bordered
        thead
          th.col-sm-3(ng-click='orderProp="-game"; reverse=!reverse') Game
          th.col-sm-5(ng-click='orderProp="-name"; reverse=!reverse') Item name
          th(ng-click='orderProp="-profit"; reverse=!reverse') Accumulated Profit
          th(ng-click='orderProp="sold"; reverse=!reverse') Total sold
        tbody
          tr(ng-repeat='item in items | orderBy:orderProp:reverse', ng-cloak)
            td 
              a(href='http://steamcommunity.com/market/search?q=appid:{{ item.app }}') {{ item.appName }}
            td
              a(href='/item/{{ item._id | encodeURI }}') {{ item._id }}
            td {{ item.profit | currency }}
            td {{ item.sold | commaSeperate }}